 body {
  margin: 50px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 100px; 
  background: #393a3b;
  background-image: url('meimg.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  font-size: 18px;
  -webkit-text-stroke: 0.5px #f5f5f5; 
  font-weight: normal; 
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.textbox {
  position: relative;
  width: 500px;                
  padding: 30px 30px 30px 180px; 
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #525354;
  font-size: 18px;               
  min-height: 180px;             
}
.anim-canvas {
  position: absolute;
  top: 30px;  
  left: 30px;  
  width: 125px;
  height: 125px;
  border: 1px solid #999;
  border-radius: 8px;
  background: #eee;  
}